// @use '../fonts/fonts.scss';

.row {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  max-width: 451px;
  min-width: 260px;
  width: 100%;
  height: 279px;
  max-height: 279px;
  margin: 0;

  .col {
    // border: 1px solid black;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .col-loader {
    width: 100%;
  }
  .col:first-child {
    max-width: 183px;
  }
}

.film {
  height: 100%;
}

.title__img {
  width: 95%;
  height: 95%;
  margin: 5px;

  padding: 0;
}

.about {
  max-height: 279px;
  overflow: hidden;

  .loadered {
    padding-top: 200px;
  }


  .release_date {
    font-size: 12px;
    margin-bottom: 5px;
    color: #827e7e;
    text-align: start;
    margin-left: 10px;
    line-height: 20px;
  }
  .title {
    font-family: 'inter';
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .geners {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: strat;
    font-size: smaller;
    padding: 5px;
    margin-bottom: 0;

    &__li {
      border: 1px #d9d9d9 solid;
      border-radius: 5px;
      margin-bottom: 5px;
      margin-left: 5px;
      padding: 0 5px;
      font-size: 12px;
    }
    &__li:hover {
      border: 1px blue solid;
    }
  }
  .overview {
    font-family: 'inter';
    text-align: start;
    max-width: 100%;
    height: 90px;
    overflow: hidden;
    padding: 0 10px 0 15px;
    font-size: 12px;
  }
}

@media screen and (width<400px) {
  .film {
    max-width: 451px;
    min-width: 260px;
    width: 90%;
    height: 279px;
    max-height: 279px;
    margin: 0;
  }
}
