.root {
  // top: 0;
  text-align: center;
  background: #8e76cb;
  // display: flex;
  // align-items: end;
  width: 150%;
  img {
    width: 100%;
  }
  a {
    text-align: center;
    top: 0;
    position: absolute;
    font-size: xx-large;
    color: red;
    text-decoration: none;
  }
}
