// @import "./Components/PageNotFound/PageNotFound.scss";
@use './Components/Film/Film.scss';
@use './Components/Films/Films.scss';
@use './Components/fonts/fonts.scss';
@use './Components/Pagination/Pagination';
// @use './Components/Home/Home';

body {
    display: block;
    width: 100%;
    position: relative;
}

#root {
    width: 100%;
    position: absolut;
    top: 0;
}   

.loadered {
    text-align: center;
    margin: 0 auto;
}

.div__buttons {
    // display: flex;
    margin-top: 5px;
    flex-wrap: nowrap;
    align-items: end;
    text-align: center;

    .batSearch{
        margin-right: 45px;
    }
}

.loder {
    display: inline;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-right: 15px;
}

.notInternet {
    width: 50px;
    margin-left: 50%;
    position: absolute;
    top: 5px;
}

.alert {
    position: relative;
    margin-left: 12px;
    width: 95%;
    min-width: 250px;
}

@media screen and (width>1200px) {
    
    .alert {
        margin-left: 135px;
    }
}


@media screen and (width>1180px) {
    
    .alert {
        margin-left: 5%;
    }
}

@media screen and (width<500px) {
    .notInternet{
        margin-left: 65%;
    }
}